.title {
  color: var(--black);
}

.pageContainer{
  display:flex;
}

.layout {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 24px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.mainContent {
  grid-column: span 5;

  @media (max-width: 768px) {
    grid-column: auto;
  }
}

.transactionLink {
  grid-column: span 3;

  @media (max-width: 768px) {
    grid-column: auto;
  }
}

.transactionsPanel {
  border-radius: 8px;
  grid-column: span 3;

  @media (max-width: 768px) {
    grid-column: auto;
  }
}

.loadingPage {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorPage {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.errorPage h1 {
  font-size: var(--font-size-xl);
  color: var(--color-text);
}

.errorPage p {
  font-size: var(--font-size-md);
  color: var(--color-text);
  margin-top: var(--spacing-sm);
}

.errorPage button {
  margin-top: 20px;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: 4px;
  border: 1px solid var(--color-text);
  background-color: var(--color-bg);
  cursor: pointer;
  color: var(--color-text);
}