.mainContent {
  grid-column: span 5;

  @media (max-width: 768px) {
    grid-column: auto;
  }
}

.transactionsPanel {
  border-radius: 8px;
  grid-column: span 3;

  @media (max-width: 768px) {
    grid-column: auto;
  }
}