.button {
    background-color: var(--color-primary-light);
    color: var(--color-white);
    border: none;
    border-radius: var(--radius-sm);
    padding: var(--spacing-sm) var(--spacing-md);
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: var(--font-size-sm);
}

.button:hover {
    background-color: var(--color-primary);
}

.newTransaction {
    background-color: rgba(207, 207, 207, 0.35);
    padding: var(--spacing-xl);
    border-radius: var(--radius-md);
    margin: var(--spacing-md) 0;

    @media (max-width: 768px) {
        margin: var(--spacing-md) 0 0;
    }
}

.newTransaction h3, .newTransaction p {
    margin-bottom: var(--spacing-md);
}

.newTransaction h3 {
    font-size: var(--font-size-lg);
}

.newTransaction p {
    font-size: var(--font-size-md);
}

.newTransaction select,
.newTransaction input {
    width: 100%;
    padding: var(--spacing-sm);
    border: 1px solid var(--color-gray);
    border-radius: var(--radius-sm);
    margin-bottom: var(--spacing-md);
    font-size: var(--font-size-md);
}