.filterSection {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.filterTexto {
    margin-right: 8px;
    font-size: var(--font-size-md);
    color: var(--color-text);
    font-weight: bold;
}

.filterNav {
    display: flex;
    gap: 8px;
}

.filterButton {
    background-color: var(--color-secondary);
    color: var(--color-text);
    border: 0;
    padding: var(--spacing-md);
    font-size: var(--font-size-md);
    border-radius: var(--radius-sm);
    cursor: pointer;
}