.Menu {
  height: fit-content;
  grid-column: span 2;

  @media (max-width: 768px) {
      position: relative;
      margin-left: var(--spacing-md);
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.mobileMenuWrapper {
  height: fit-content;
  background: var(--color-secondary);
  padding: var(--spacing-lg);
  border-radius: var(--radius-md);

  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    left: -250px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-lg);
    border-radius: 0;
    transition: left 0.3s ease;
    border-bottom-right-radius: var(--radius-md);
  }
}

.mobileMenuWrapper.open {
  left: 0;
}

.Menu .btnToggle {
  background: transparent;
  border: 0;
  font-size: 35px;
  color: #ff5031;
}

.Menu .btnClose {
  background: transparent;
  border: 0;
  font-size: 20px;
  color: #ff5031;
  position: absolute;
  right: 10px;
  top: 5px;
}

.active {
  display: block;
  position: absolute;
  z-index: 1;
  background: var(--color-secondary);

  padding: var(--spacing-lg);
  border-radius: var(--radius-md);
  top: 0;
  left: 0;
}

.inactive {
  display: none;
}

.menuItem {
  color: var(--color-text);
  font-weight: normal;
  font-size: var(--font-size-md);
  text-align: center;
  border-bottom: 1px solid var(--color-text);
  padding: var(--spacing-md);
}

.menuLinks {
  list-style-type: none;
}

.menuLinks .start {
  color: var(--color-green);
  border-bottom: 1px solid var(--color-green);
}

.activeItem a {
  color: var(--color-green);
}
